.up-tabs{
    display:flex;
    width: 80vw;
    margin: auto;
    height: 400px;
}
.tabs-container-2{
    padding: 4em;
}
.buttons-2{
    display: flex;
    flex-direction: column;
}
.selected-2{
    border-left: 5px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    height: 80px;
    
    font-size: 1.5em;
    font-weight: 400;
}
.tabbuttons-2{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    
    height: 80px;
    font-weight: 400;
}
@media screen and (max-width:800px){
    .up-tabs{
        display:flex;
        flex-direction: column;
        margin: 10px;
        height: 600px;
        text-align: center;
    }
    .buttons-2{
        display: flex;
        flex-direction: row;
    }
    .selected-2, .tabbuttons-2{
        height: auto;
        font-size: 0.7em;
    }
    .tabs-container-2{
        padding: 50px 0px;
        font-size: 1em;
        width: 95vw;
    }
    .tab-2{
        font-size: 1em;
    }
}