.accordion-container{
    width: 80vw;
    margin: auto;
}
.ques{
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
}
.acc-images{
    width: 100%;
}
.acc-buttons{
    border: none;
    background-color: transparent;
}
@media screen and (max-width:600px) {
    .ques{
        font-size: 1em;
    }
    .acc-images{
        width: 80vw;
    }
}