.footer{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 50px;
    padding: 1em;
    background-color: #272727;
}
.acknowledgement{
    text-align: right;
    padding-right: 2em;
    color: white;
}
.acknowledgement li{
    margin-bottom: 1em;
}
.left{
    margin: auto 1em;
    text-align: center;
}
@media screen and (max-width:600px) {
    .acknowledgement li{
        font-size: 0.5em;
    }
    .footer{
        padding: 0;
    }
    h2{
        font-size: 1em;
    }
    .footer{
        display: block;
        padding: 0;
    }
    .acknowledgement{
        text-align: center;
    }
    .acknowledgement li{
        transform: translateX(-20px);
    }
}