iframe{
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    /* margin: auto; */
}
iframe::-webkit-scrollbar{
    display: none;
}
.project{
    display: flex;
    justify-content: space-around;
    padding: 2vw 10vw;
}
.right{
    margin: auto ;
    text-align: center;
}
.project-button{
    border: none;
    background-color: #8BE78B;
    padding: 0.5em;
    border-radius: 1em;
}
.project-button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.project-button a{
    text-decoration: none;
    color: #272727;
}