.image-grid{
    display: grid;
    padding: 6em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.image img{
    width: 400px;
    object-fit: contain;
}
@media screen and (max-width: 600px) {
    .image-grid{
        padding: 10px;
    }
    .image img{
        width: 100%;
    }
}